<!DOCTYPE html>
<head>
    <title>Helmet</title>
</head>
<body>
    <h1>Helmet</h1>
    <form method='post' enctype="multipart/form-data">
        <p>Please select your favorite Web language:</p>
        <input type="radio" id="html" name="select" value="cam">
        <label for="html">WebCam</label><br>
        <input type="radio" id="css" name="select" value="file">
        <label for="html">File Upload</label><br>
        <input type="file" name="upFile" />
        <input type="submit" value="Submit"/>
    </form>
</body>